################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vk_trainee_2/.vs/
*.user
/vk_trainee_2/Debug/vk_trainee_2.tlog
/vk_trainee_2/Debug
